- content_for :active_title, "history"
%br
%ul.list-group
  - @fouls.each do |foul|
    - @you_own_it = current_user.id == foul.owner.id
    %li.list-group-item
      %span.badge.float-right{ class: foul.accepted ? "badge-success" : (@you_own_it ? "badge-danger" : "badge-warning") }
        = foul.accepted ? "accepted" : (@you_own_it ? "new" : "pendding")
      %div
        %span.text-secondary Who did?
        %span.text-info
          - if @you_own_it
            You did!
          - else
            = user_name(foul.owner)
      %div
        %span.text-secondary When did?
        = show_time(foul.created_at)
      - unless foul.description.blank?
        %div
          .text-secondary What did?
          = foul.description
      - if foul.accepted
        .text-secondary
          Holdin' the bag on:
          = show_time(foul.accepted_at)
      - elsif @you_own_it
        = button_to "Agree",
          { action: :update, id: foul.id, foul: { accepted: true } },
          method: :patch, class: "btn btn-primary"


