!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Watch Your Language'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Watch Your Language'}"}
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}
    %link{:href => "/site.webmanifest", :rel => "manifest"}
    %link{:color => "#5bbad5", :href => "/safari-pinned-tab.svg", :rel => "mask-icon"}
    %meta{:content => "#2b5797", :name => "msapplication-TileColor"}
    %meta{:content => "#ffffff", :name => "theme-color"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %main{:role => "main"}
      = render 'layouts/navigation'
      = render 'layouts/messages'
      = yield
